Source: logstash
Section: net
Priority: optional
Maintainer: Andreas Unterkircher <unki@netshadow.net>
Build-Depends: debhelper (>= 9~)
Standards-Version: 3.8.3
Homepage: https://www.elastic.co/de/products/logstash
Vcs-browser: https://github.com/elastic/logstash
Vcs-git: https://github.com/elastic/logstash.git

Package: logstash
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby-ci-reporter-rspec
Description: Logstash - transport and process your logs, events, or other data
