[Unit]
Description=logstash

[Service]
Environment=LS_HOME=/var/lib/logstash
Environment=LS_HEAP_SIZE="500m"
Environment=LS_CONF_DIR=/etc/logstash
Environment=LS_LOG_DIR=/var/log/logstash
EnvironmentFile=-/etc/default/logstash
Type=simple
User=logstash
Group=logstash
EnvironmentFile=-/etc/default/logstash
ExecStart=/usr/share/logstash/bin/logstash --path.settings /etc/logstash
Restart=always
WorkingDirectory=/
Nice=19
SuccessExitStatus=143
LimitNOFILE=16384
#LimitMEMLOCK=infinity
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
